@{
	ViewData["Title"] = "About us";
}

<div class="text-center">
	<h1 class="display-4">Directed by Quentin Tarantino</h1>
	<br />
	<h2>Выполнили:</h2>
	<br />
	<p>Студенты гр. 4941104/20701</p>
	<br />
	<p>Ершов И.А.</p>
	<br />
	<p>Фрундин В.А.</p>
</div>